body{
    background: #BDBDBD
}


.card-group {
    display: flex;
    gap: 15px;
  }

  .card {
    width: 350px;
  }

  .card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
  }

  .card-title{
    color:lightskyblue
  }
  .container-form{
    background-color: rgb(236, 234, 234);
    border-color: grey;
    border: 10px;
    width: 900px;
  }
  .bordered-container {
    border: 1px solid #cccccc; 
    padding: 20px; 
    border-radius: 5px; 
  }

  .form-padding{

padding: 80px;
  }

.tagline-jumbo {
    background: url('../img/bg.jpg') center/cover; 
    color: black; 
    text-align: center; /* Center align text */
    background-size: cover;
    padding: 50px 5px 200px 5px;
}

.headings-tagline {
    position: relative;
    z-index: 1;
}

.display-1, .display-3 {
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.navigation-bar {
  height: 50px;
}