body{
    background: #BDBDBD;
}

.jumbotron {
    background: url('../img/bg.jpg') center/cover; 
    color: black; 
    text-align: center; /* Center align text */
    padding: 100px 0; /* Adjust padding for spacing */
    background-size: cover;
}

.container {
    position: relative;
    z-index: 1;
}

.display-1, .display-3 {
    position: relative;
    z-index: 2;
}