<!-- your html code here -->
<div class="container-fluid form-padding">
    <h5>Contact</h5>
    <p>Donec ullamcrper nulla non metus auctor fringilla. Vestibulum id ligula porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque nisl Consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="container-form bordered-container">
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
            <label for="email" class="form-label">Your Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3">
            <<label for="comment">Your Message:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"placeholder="Please Enter your message here..."></textarea>
            </div>
            <div class="d-flex justify-content-end">
             <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
    </div>




</div>