<!-- your html code here -->
<div class="container-fluid bg-light px-4 py-4 pb-4">
    <div class="row ">
        <div class="col-9">
            <h1>This First Heading <span class="text-secondary">Will Catch Your eye</span></h1>
            <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisquenisl consectetur. Fusce dapibus, teilus ac cursus commodo</p>
        </div>
        <div class="col-3">
            <img src="assets/img/1.jpg" alt="man photo" class="img-fluid w-100 rounded-circle"/>
        </div>
    </div>
</div>