<!-- your html code here -->
<div class="container-fluid bg-light p-4 mx-0">
    <div class="row p-4">
        <div class="col-9 px-4">
            <h1>This First Heading <span class="text-secondary">Will Catch Your eye</span></h1>
            <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisquenisl consectetur. Fusce dapibus, teilus ac cursus commodo</p>
        </div>
        <div class="col-3">
            <img src="assets/img/1.jpg" alt="man photo" class="img-fluid w-100 rounded-circle px-4"/>
        </div>
    </div>
</div>